In [1]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('college_financials_only13.csv',header=0, index_col=0)

In [25]:
df = df[(df['namecityyr4'] != 'Baldwin Beauty SchoolAustinTX') & (df['namecityyr4'] != 'Ohio Institute of Health CareersColumbusOH') & (df['academic_year'] > 2002)]

In [29]:
df.sort_values(['academic_year', 'namecityyr4'], inplace=True)

In [30]:
df = df.groupby('inst_name').apply(lambda g: g.fillna(method='ffill')).drop(['inst_name','tcs_name','city',
                                                                               'state','zipcode','sector', 'cpi_index',
                                                                              'cpi_scalar_2012', 'hepi_index', 'hepi_scalar_2012',
                                                                              'heca_index', 'heca_scalar_2012', 'namecityyr4'], axis=1)

In [31]:
df = (df - df.mean())/ (df.std())

In [32]:
df.values.shape

(35780, 154)

In [34]:
data = np.zeros((10, 3578, 153))
for i, g in enumerate(df.groupby('academic_year')):
    grp, gdf = g
    data[i,:,:] = gdf.drop('academic_year', axis=1).values

In [37]:
np.save('all_finances', data)

In [ ]:
df.to_csv('all_finances_corresponding.csv')